*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/.idea
/build
/captures
.externalNativeBuild
.cxx
local.properties
Text_input.md
Text_Input_Notes.md