*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/.idea
/build
/captures
.externalNativeBuild
.cxx
local.properties
Text_input.md
Text_Input_Notes.md
Rich_Media_Input.md
/app/src/main/java/com/oguzhanaslann/compose/autofill/auto_fill.md
/app/src/main/java/com/oguzhanaslann/compose/autofill/auto_fill_notes.md
/Rich_Content_Input_Compose.md
